{% extends 'base.html' %}
{% block Content %}
    <div  class="px-5 pt-5 col-5 InnerContent">
        <h1 class="mt-5 ">consultation</h1>
        <p>We would like you to fill some personal information so you can get your result easly later.</p>
        <form action="/Consultaion/" method="POST" class="form-group row">{% csrf_token %}
            <div class="form-group row w-100">
                <label for="FirstName" class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8">
                    <input type="text" id ="FirstName" name="FirstName" class="form-control" required placeholder="Youcef">
                </div>
            </div>    
            <div class="form-group row w-100">
                <label for="LastName" class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8">
                    <input type="text" name="LastName" id="LastName" class="form-control"  required placeholder="Madadi">
                </div>
            </div>  
            <div class="form-group row w-100">
                <label for="Age" class="col-sm-4 col-form-label">Age:</label>
                <div class="col-sm-8">
                    <input type="number" name="Age" id="Age" class="form-control" min="1" max="100"  required placeholder="22">
                </div>
            </div>  
            <div class="form-group row w-100">
                <label for="Gender" class="col-sm-4 col-form-label">Gender:</label>
                <div class="col-sm-8">
                    <select type="number" name="Gender" id="Gender" class="form-control" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div> 
            <div class="form-group row w-100">
                <label for="Wilaya" class="col-sm-4 col-form-label">Wilaya:</label>
                <div class="col-sm-8">
                    <input type="text" name="Wilaya" id="Wilaya" class="form-control" required placeholder="Algiers">
                </div>
            </div>  
            <div class="form-group row w-100">
                <label for="Daira" class="col-sm-4 col-form-label">Daira:</label>
                <div class="col-sm-8">
                    <input type="text" name="Daira" id="Daira" class="form-control" required placeholder="Bir Mourad Raïs">
                </div>
            </div> 
            <div class="form-group row w-100">
                <label for="Symptoms" class="col-sm-4 col-form-label">Symptoms:</label>
                <div class="col-sm-8">
                    <select type="text" name="Symptoms" id="Symptoms" class="form-control" required multiple >
                        {% for symp in Symptoms %}
                            <option value="{{ symp.0 }}">{{ symp.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div> 
            <div class="form-group row w-100">
                <label for="SymptomsTime" class="col-sm-4 col-form-label">Started:</label>
                <div class="col-sm-8">
                    <input type="date" name="SymptomsTime" id="SymptomsTime" class="form-control" required>
                </div>
            </div> 
            <div class="form-group row w-100">
                <label for="Chronic" class="col-sm-4 col-form-label">Chronic diseases:</label>
                <div class="col-sm-8">
                    <textarea name="Chronic" id ="Chronic" class="form-control" required></textarea>
                </div>
            </div>  
            <div class="form-group row w-100">
                <label for="Treatments" class="col-sm-4 col-form-label">Treatments:</label>
                <div class="col-sm-8">
                    <textarea name="Treatments" id ="Treatments" class="form-control" required></textarea>
                </div>
            </div>   
            <p class="col-12 pl-3">the results will be ready in less than 24h.</p>
            <button class="btn btn-secondary ml-auto mr-1 px-4 my-2" type="submit" > Submit</button>
            <a href="/" class="btn btn-outline-dark px-3 mr-3 my-2">Return</a>
        </form>
    </div>
{% endblock Content %}