{% extends 'base.html' %}
{% block Content %}
    <div  class="px-5 pt-5 col-5 InnerContent">
        <h1 class="mt-5 pt-5">Do you want an online consultation?</h1>
        <p>We do offer an online consultation by our best doctors so you can know what is the next step for you to get better soon.</p>
        <a class="btn btn-secondary px-4" href="/Consultaion">Consult</a>
        <a class="btn btn-outline-dark px-4" href="/Results">Check for your Result</a>
    </div>        
{% endblock Content %}
