{% extends 'base.html' %}
{% block Content %}
    <div  class="px-5 pt-5 col-5 InnerContent">
        <h1 class="mt-5 ">Learn about Covid-19</h1>
        <p>We would like you to fill some personal information so you can get your result.</p>
        <h5>Symptoms</h5>
        <p>The main symptoms of coronavirus (COVID-19) are:</p>
        <ul>
            <li>a high temperature – this means you feel hot to touch on your chest or back (you do not need to measure your temperature)</li>
                <li>a new, continuous cough – this means coughing a lot for more than an hour, or 3 or more coughing episodes in 24 hours (if you usually have a cough, it may be worse than usual)</li>
                <li>a loss or change to your sense of smell or taste – this means you've noticed you cannot smell or taste anything, or things smell or taste different to normal</li>
        </ul>
        <p>To protect others, do not go to places like a GP surgery, pharmacy or hospital if you have any of these symptoms. Stay at home (self-isolate) and get a test.</p>
        <h5>Prevention</h5>
        <p>To help stop the spread of coronavirus (COVID-19), avoid close contact with anyone you do not live with and wash your hands regularly.</p>
        <p>To stop coronavirus (COVID-19) spreading:</p>
        <ul>
            <li>try to stay at least 2 metres (3 steps) away from anyone you do not live with or anyone not in your support bubble</li>
            <li>wash your hands with soap and water often – do this for at least 20 seconds</li>
            <li>use hand sanitiser gel if soap and water are not available</li>
            <li>wash your hands as soon as you get home</li>
            <li>cover your mouth and nose with a tissue or your sleeve (not your hands) when you cough or sneeze</li>
            <li>put used tissues in the bin immediately and wash your hands afterwards</li>
            <li>if you can, wear something that covers your nose and mouth when it’s hard to stay away from people, such as in shops or on public transport</li>
            <li>do not touch your eyes, nose or mouth if your hands are not clean</li>
        </ul>
        <p>Follow the government's social distancing guidance about what you can and cannot do outside your home.</p>
        <h5>Treatments</h5>
        <p>You can usually treat mild coronavirus (COVID-19) symptoms at home. If your symptoms are severe, you may need medical care until you recover. </p>
        <p>There are things you can do to treat mild symptoms of coronavirus (COVID-19) while you’re staying at home (self-isolating).
        <h5>If you have a high temperature:</h5>
        <ul>
            <li>get lots of rest</li>
            <li>drink plenty of fluids (water is best) to avoid dehydration – drink enough so your pee is light yellow and clear</li>
            <li>take paracetamol or ibuprofen if you feel uncomfortable</li>
        </ul>
        <h5>If you have a cough:</h5>
        <ul>
            <li>avoid lying on your back – lie on your side or sit upright instead</li>
            <li>try having a teaspoon of honey – but do not give honey to babies under 12 months</li>
        </ul>
        <h5>If you feel breathless:</h5>
        <ul>
            <li>keep your room cool by turning the heating down or opening a window – do not use a fan as it may spread the virus</li>
            <li>sit upright in a chair and relax your shoulders</li>
            <li>try breathing slowly in through your nose and out through your mouth, with your lips together like you're gently blowing out a candle</p>        </li>
        </ul>
        <a href="http://nhs.uk">nhs.uk</a>
    </div>
{% endblock Content %}